<div class="container container-fluid justify-content-center">
    <div clas="row row-cols-auto name-content justify-content-center">
        <div class="col col-auto title-name">
            <h1 class="name">Xavier Johnson</h1>
            <h3 class="title">Front End Developer</h3>
        </div>
        <div class="col col-auto buttons-container ">
            <button id="project" class="projects-button btn btn-outline-primary">
                Projects
            </button>
            <button class="btn btn-outline-primary about-me">
                About me
            </button>
        </div>
    </div>
    <div class="row">
        <!-- <div class="buttons">
            <button class="projects-button btn btn-outline-primary">
                Projects
            </button>
        </div> -->
        <!-- <p>
            I am a Full Stack Web Developer with a focus on Front End Development. 
            I aspire to build my own operating system that rivals Windows and iOS.
            I practice coding other languages such as C#, Swift, and Assembly in my spare time. However, when I'm not
            wired in, I like to game, read, and fix whatever peice of tech I can get my hands on. 
        </p> -->
    </div>
</div>