* {
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #333333;
}

.container {
    align-content: center;
    min-width: 100%;
    background-image: url("../../assets/blackdesktopbackground.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
    min-height: 55vh;
}

.name-content {
    width: 100%;
    align-content: center;
    text-align: center;
    height: 100%
}

.title-name {
    padding-left: 33%;
    padding-top: 20%;
}

.name {
    font-family: 'Comforter', cursive;
    font-size: 86px;
}

.title {
    font-size: 60px;
}

.buttons-container {
    padding-left: 33%;
    padding-top: 15px;
}

.btn {
    color:aliceblue;
    background-color: #cc9900;
    border-color: #cc9900;
}

#project {
    margin-right: 20px;
}